@import "./common.scss";
.galleryberg-gallery-container .block-editor-media-placeholder {
	grid-column: 1 / span 3;
	column-span: all;
}
.galleryberg-gallery-columns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	grid-column: 1 / -1;
	margin-bottom: -50px;
	z-index: 9;
}
