@import "../base/common";
@import "../base/theme";

.galleryberg-menu-navigation {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: minmax(0, 1fr);
	grid-gap: 10px;
	background-color: $white;

	.galleryberg-menu-navigation-header-button {
		@extend %default-transition;
		@extend %flex-center-all;
		@extend %pointer;
		@extend %size-full;

		padding: 0 20px;
		border: solid rgb(0 0 0 / 0%);
		border-width: 0 0 2px;
		background: transparent;
		font-size: $font-size;
		font-family: $font-family;
		font-weight: 500;

		&[data-active="true"] {
			border-color: $galleryberg-brand;
		}

		&[data-active="false"] {
			color: $text-faded-color;
		}

		&:hover[data-active="false"] {
			border-color: $border-color;
		}
	}
}
