.galleryberg-button-link {
	@extend %pointer;
	@extend %galleryberg-click;

	border-radius: 5px;
	width: fit-content;
	padding: 8px 12px;
	border: 1px solid $o-blue-100;
	color: $o-blue-500;

	&[data-buttonlink-type="text"] {
		color: $o-blue-300;
		border: 0;
		padding: 0;

		&::before {
			content: "|";
			margin-right: 5px;
		}

		&:hover {
			background-color: unset;
			color: $o-blue-300;
		}

		&:active {
			background-color: unset;
		}
	}

	&[data-buttonlink-type="primary"] {
		@extend %p2-bold;

		color: $neutral-gray-50;
		background-color: $deep-aqua-500;
		border: 0;

		&:hover {
			background-color: #249dc6;
		}

		&:active {
			background-color: #094d64;
		}
	}

	&:hover {
		background-color: #8ca3dd;
		color: $neutral-gray-50;
	}

	&:active {
		background-color: #7593d6;
	}
}

.galleryberg-button-link-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	gap: 5px;
}
